.app-container {
  height: 100vh;
}

.spacer {
  flex: 1 1 auto;
}

.toolbar-icon {
  margin-right: 10px;
}

.main-container {
  padding: 20px;
  min-height: calc(100vh - 64px); /* Adjust for toolbar height */
  background-color: #f5f5f5;
}

/* Hide hamburger by default (Desktop) */
.menu-button {
  display: none;
}

.mobile-sidenav {
  width: 250px;
}

/* Responsive Logic */
@media (max-width: 800px) {
  .desktop-menu {
    display: none; /* Hide standard buttons */
  }

  .menu-button {
    display: inline-block; /* Show hamburger button */
  }

  .title {
    font-size: 1.1rem; /* Smaller text for mobile */
  }

  .main-container {
    padding: 10px;
  }
}

.app-logo {
  width: 60px;   /* Fixed width */
  height: 120px;  /* Fixed height */
  object-fit: contain; /* Ensures the logo isn't squashed */
  display: block;
}